.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/
outputs/
calc_diff.Rd
detect_change.Rd
postprocess_mask.Rd
prep_rastdat.Rd
validate_results.Rd
changed_mask.tif
class_transitioned.tif
